{% extends "comps/frame.html" %}

{% block actions %}
<button type="submit" hx-post="/price.scale.run" hx-target="next #unit-price" hx-swap="innerHTML" hx-include="next #scale-form">►</button>
{% endblock %}

{% block content %}
<h4>Scale a price:</h4>
<p>It allows scaling a price to unit price in order to compare it easily.</p>
<form id="scale-form">
  <input id="items" name="items" type="text" placeholder="Items" value="1">
  <input id="size" name="size" type="text" placeholder="Size">
  <input id="cost" name="cost" type="text" placeholder="Cost">
</form>
<dix id="unit-price" />
{% endblock %}
