{{ define "frame-actions" }}
<button hx-post="web/cmd.run" hx-target="#outputs" hx-swap="afterbegin" hx-replace-url="false">⧉</button>
{{ end }}

{{ define "content" }}
<ul>
    <li>
        <a hx-boost="true" href="/web/money.convert.get" hx-target="#outputs" hx-swap="afterbegin" hx-replace-url="false">Convert money to time</a>
    </li>
    <li>
        <a hx-boost="true" href="/web/price.scale.get" hx-target="#outputs" hx-swap="afterbegin" hx-replace-url="false">Scale price to unit price</a>
    </li>
</ul>
{{ end }}

{{ template "frame.html" . }}