<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A site about frugal philosophy." />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#fefefe" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#070a19" />
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🌱</text></svg>" />
    <title>{{ block "title" . }}Frugal{{ end }}</title>

    <script src="https://unpkg.com/htmx.org@2.0.1"></script>

    {{ block "head" . }}{{ end }}
</head>
<body>
    {{ template "header.html" }}
    <div id="content">
        {{ block "content" . }}{{ end }}
    </div>
    {{ template "footer.html" }}
</body>
</html>