body {
    margin: 40px auto;
    padding: 0 10px;
    max-width: 650px;
    font-size: 18px;
    color: #444;
    line-height: 1.6;
    display: block;
}

h1, h2, h3 {
    line-height: 1.2;
}

.rich-text {
    white-space: pre-wrap;
}

.frame {
    border-radius: 5px;
    border-style: groove;
    margin-top: 5px;
    margin-bottom: 5px;
}

.frame__actions {
    border-bottom-style: groove;
    flex-direction: row;
}

div:empty {
    display: none;
}

.command-output {
    border-radius: 5px;
    padding: 5px;
    border-style: groove;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer {
    text-align: center;
}

.grid--two-col {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.grid--two-col__left {
    margin-right: 3px;
    width: 100%;
}

.input-pair {
    display: flex;
    flex-direction: column;
    margin: 3px;
}

.form {
    display: flex;
    flex-direction: row;
}