{{ define "actions" }}
<button type="submit" hx-post="web/price.scale.run" hx-target="next #unit-price" hx-swap="innerHTML" hx-include="next #scale-form">►</button>
{{ end }}

{{ define "frame-actions" }}
<button hx-get="web/price.scale.get" hx-target="#outputs" hx-swap="afterbegin" hx-replace-url="false">⧉</button>
{{ end }}

{{ define "copy-url" }}
/web/price.scale.get
{{ end }}

{{ define "content" }}
<h4>Scale a price:</h4>
<p>It allows scaling a price to unit price in order to compare it easily.</p>
<div class="grid--row">
    <span>Option:</span>
    <input name="option" type="text" placeholder="Pams Milk 3L">
</div>
<div id="head">
    <div id="unit-price" />
</div>
<form id="scale-form" class="grid--row">
    <div class="input-pair">
        <label for="items">Items</label>
        <input id="items" name="items" type="text" placeholder="Items" value="1">
    </div>
    <div class="input-pair">
        <label for="size">Size</label>
        <input id="size" name="size" type="text" placeholder="Size">
    </div>
    <div class="input-pair">
        <label for="cost">Cost</label>
        <input id="cost" name="cost" type="text" placeholder="Cost">
    </div>
</form>
{{ end }}

{{ template "frame.html" . }}